 body {
	font-family: arial;
	font-size: 24px;
	background-image: url(background.img);
	background-color: lime;
	color:white;
}

a {
	color:red;
	text-decoration: none;
}

.header {
	font-size: 52px;
	font-family: arial;
	padding:20px;
}

.header:hover {
	color:white;
	transition: .2s ease-in-out;
	cursor: help;
}

.nav {
	width: 100%;
	padding: 10px;
	position: fixed;
	top: 0px;
	left: 0px;
}


.nav-item {
	display: inline-block;
	padding: 5px;
	border-radius: 1px;
	text-decoration: none;
}


.nav-item:hover {
	color: red;
	transition: 0.25s;
}

.nav-header {
	display: inline;
	color: white;
	padding:5px;
}


.intro {
	margin-top: 80px;
	padding: 10px;
}

.grid {
	display: flex;
	flex-wrap: wrap;
	padding: 10px;
}

.thumbnail {
	flex: 0 0 33.33%;
}

.thumbnail-content {
	padding: 10px;
	
}

.thumbnail img {
	width:100%;
	-webkit-filter: grayscale(100%); /* Ch 23+, Saf 6.0+, BB 10.0+ */
  	filter: grayscale(100%); /* FF 35+ */
}

.thumbnail img:hover {
	 transition: filter .2s ease-in-out;
  -webkit-filter: grayscale(0%); /* Ch 23+, Saf 6.0+, BB 10.0+ */
  filter: grayscale(0%); /* FF 35+ */
}

.rotate {
	transform: rotate(45deg);
}