 body {
	font-family: arial;
	font-size: 24px;
	background-image: url(background.img);
	color:white;
}

a {
	color:red;
	text-decoration: none;
}

/*open for public bit*/
.open {
	padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 8px;
    font-size: 14px;
    padding-top: 10px;
    text-align: center;
    position: fixed;
    bottom: 10px;
    left: 10px;
    background-color: blue;
    font-style: italic;
}

/*header */
.header {
	font-size: 52px;
	font-family: arial;
	padding:20px;
}

.header:hover {
	color:white;
	transition: .2s ease-in-out;
	cursor: help;
}

.nav {
	width: 100%;
	padding: 10px;
	position: fixed;
	top: 0px;
	left: 0px;
}

.question {
	background-color: red;
	border-radius: 5px;
}
.nav-item {
	display: inline-block;
	padding: 5px;
	border-radius: 1px;
	text-decoration: none;
}


.nav-item:hover {
	color: red;
	transition: 0.25s;
	cursor: crosshair;
}

.nav-header {
	display: inline;
	color: white;
	padding:5px;

}

/*popups*/

.popup {
  background-color: blue;
  color:black;
  width:40vw;
  height:200px;
  font-size:16px;
  /*position:fixed;*/
  top:100px;
  left:400px;
  display:none;
  cursor:pointer;
  padding: 10px;
}


.popup-show {
  display:block;
}


/*intro*/
.intro {
	margin-top: 80px;
	padding: 10px;
	margin-left: 20px; 
}

.grid {
	display: flex;
	flex-wrap: wrap;
	padding: 10px;
}

.thumbnail {
	flex: 0 0 33.33%;
}

.thumbnail-content {
	padding: 10px;
	cursor: pointer;
	
}

.thumbnail img {
	width:100%;
	-webkit-filter: grayscale(100%); /* Ch 23+, Saf 6.0+, BB 10.0+ */
  	filter: grayscale(100%); /* FF 35+ */
}

.thumbnail img:hover {
	 transition: filter .2s ease-in-out;
  -webkit-filter: grayscale(0%); /* Ch 23+, Saf 6.0+, BB 10.0+ */
  filter: grayscale(0%); /* FF 35+ */
}

.rotate {
	transform: rotate(45deg);
}

.about {
	padding: 10px;
	background-color: black;
/*	width: 80vw;*/	
    margin: 20px auto;
    max-width: 70vw;
    padding: 28px 38px;
}